* {
  /* background-color: #1a1a1a; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
  /* background-color: rgb(14, 14, 14); */
  max-width: 100%;
  overflow-x: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  /* animation: animateBg 50s linear infinite; */
}

.top-container {
  background-image: url("./images/spacebg-final.jpg") !important;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: animateBg 60s linear infinite;
  background-position: center;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.outline {
  /* stroke: #4a22ff; */
  stroke: rgb(255, 255, 88);
  /* fill: #252525; */
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 500;
  stroke-linecap: round;
  stroke-dashoffset: 500;
  animation: dash 5s linear 2.5s forwards;

  /* animation: dash 5s linear; */
  /* animation: name duration timing-function delay iteration-count direction
    fill-mode; */
  /* animation-iteration-count: 1; */
  animation-duration: 3s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.introduction {
  position: relative;
  font-family: monospace;
  /* top: 50%; */
  width: 24em;
  max-width: fit-content;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 250%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  /* transform: translateY(-40%); */
}

.hidden {
  visibility: hidden;
}

.first-typewriter {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

.second-typewriter {
  animation: typewriter 4s steps(44) 5200ms 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

.hide-border {
  border-right: none;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes animateBg {
  /* 0%,
  100% {
    background-size: 75%;
  }
  50% {
    background-size: 25%;
  } */
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 140% auto;
  }
  100% {
    background-size: 100% auto;
  }
}

.navbar {
  height: 50px;
  background-color: #1b1b1b;
  box-shadow: 0 4px 4px rgba(10, 10, 10, 0.4);
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  /* height: 50vh; */
}

.about-wrapper h2 {
  font-size: 300%;
  font-weight: 700;
  margin: 5%;
}

.about {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 150px;
}

#particles-js canvas {
  width: 100%;
  height: 100%;
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}
/* #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} */

.about-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 500px;
  font-weight: 500;
  font-size: 14pt;
  line-height: 1.8em;
}

.about-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 500px;
}

#headshot {
  width: 40%;
}

.skills {
  /* margin: 10%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  /* background-color: #161616; */
  /* animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry 150px; */
  /* animation-range-start: cover;
  animation-range-end: 700px; */
}

@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.skills-header {
  margin-top: 10vh;
  font-color: white;
  font-size: 24pt;
  padding: 5%;
}

.scroller {
  max-width: 100%;
  overflow: hidden;
}

#scroller-one {
  padding-bottom: 5vh;
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}
#scroller-two {
  padding-bottom: 5vh;
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}
#scroller-three {
  padding-bottom: 5vh;
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}
#scroller-four {
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller[data-animated="true"] {
  overflow: hidden;
  /* overflow-x: scroll; */
  /* -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  ); */
}

.scroller-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding-block: 1rem;
}

.scroller[data-animated="true"] .scroller-inner {
  width: fit-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 20s)
    var(--_animation-direction, forwards) linear infinite;

  /* animation: scroll linear;
  animation-timeline: scroll(root); */
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 2.5rem));
  }
}

.skill-cards {
  justify-content: space-evenly;
}

.skill-icon {
  /* width: 15%;
  height: 15%; */
  width: 90px;
  /* height: 250px; */
}

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10vh;
}

.projects-section h2 {
  font-size: 300%;
  font-weight: 700;
  margin: 5%;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  gap: 50px;
}

.project-image {
  display: flex;
  justify-content: center;
  background-color: #272727;
  padding: 3%;
  width: 700px;
}

#market-app-image {
  width: 100%;
}

.project-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 500px;
}

.project-info a {
  width: fit-content;
  text-wrap: nowrap;
  text-align: center;
  text-decoration: none;
}

#left-info {
  text-align: right;
}

.project-title {
  font-size: 200%;
  font-weight: 700;
}

.project-description {
  font-weight: 500;
  font-size: 14pt;
  line-height: 1.8em;
}

.project-button {
  padding: 8px;
  width: fit-content;
}

#subscription-manager-button {
  background-color: rgb(9, 211, 19);
}

#subscription-manager-button:hover {
  background-color: rgb(102, 245, 109);
}

#left-button {
  margin-left: auto;
}

#first-project {
  margin-bottom: 100px;
}

#second-project {
  margin-bottom: 100px;
}
